@import url(./Common/style.scss);

#root {
    width: 100vw;
    display: flex;
    justify-content: center;

    background-color: black;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;

    background-color: var(--background-01);

    .viewHeader,
    .App {
        max-height: 100vh;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .viewHeader {
        max-width: 350px;
        background-color: var(--background-02);
    }

    .App {
        max-width: calc(100vw - 350px);
        align-items: center;

        background-color: gray;
    }

    @media screen and (max-width: 550px) {
        width: 100vw;
        flex-direction: column;

        .viewHeader,
        .App {
            max-width: 100vw;
            width: 100%;
        }

        .viewHeader {
            height: 65px;
            flex-direction: row;
        }

        .App {
            height: calc(100vh - 65px);
        }
    }

}