* {
    padding: 0;
    margin: 0;
}

:root{
    --color-01: #b51a2c6b;
    --color-02: #242f4956;
    --color-03: #000;

    --background-01: #FFA586;
    --background-02: #B51A2B;
    --background-03: #242F49;
    --background-04: #541A2E;
    --color-nothing: rgba(128, 128, 128, 0.012);
    --color-opacity-8: #bd4f278a;
}

body {
    color: var(--color-03);
    background-color: var(--background-01);

    font: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    cursor: pointer;

    width: auto;
    height: 100%;
    padding: .8px 1.5px;

    border: none;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: #000;
    background: var(--background-01);

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    span {
        min-width: 75px;
        overflow: unset;
    }
}

.cardInfo{
    position: absolute;

    width: 420px;
    height: 594px;
    background-color: var(--background-01);

    overflow: hidden;
    border-radius: 7px;
    box-shadow: 6px 6px 12px var(--color-01),
    -6px -6px 12px var(--color-02);

    .groupImages{
        width: 100%;
        height: 100%;
    }
    .infoUser{
        position: absolute;
        z-index: 1;
        bottom: 0;
    }
}